html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("http://thumb7.shutterstock.com/display_pic_with_logo/1620533/243503599/stock-photo-shabby-blue-cursive-hand-written-letter-background-243503599.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnailImg {
  max-height: 125px;
}


/*
.thumbnail {
  max-height: 200px;
}
*/

.navbar-right {
  padding-right: 100px;
}

.mainWelcome {
  font-family: cursive;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  color: #3275ae;
}

.poemEntry {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightcyan;
}

.title {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}


/*

#showPoemFormButton {
  margin: auto;
}*/

.showPoemFormButton {
  margin: auto;
}

#testCenter {
  text-align: center;
}