.navbar {
    height: 80px;
    background-color: black;
    color: red;
    font-family: serif;
    font-weight: 100;
    font-size: 25px;
}

.corleone {
    height: 75px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.hitListCard {
    width: 200px;
    height: 300px;
    padding: 0px;
    text-align: center;
    background-size: 200px 300px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.hitListCard h4 {
    height: 30px;
    margin: auto;
    width: 200px;
    background-color: dimgray;
    opacity: .8;
    font: Garamond;
    color: red;
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}