<!DOCTYPE html>
<html lang="en" ng-app="PokemonProfile">

<head>
    <meta charset="UTF-8">
    <title>PokémonProfile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="js/pokeProfile.css">
</head>

<body ng-controller="MainController">
    <div class="row">
        <h1 class="col-xs-4 col-xs-offset-4">Enter Pokémon Number</h1>
        <input type="text" class="col-xs-3 col-xs-offset-4" ng-model="lookUpReference" placeholder="1-778">
        <p>{{lookUpReference}}</p>
        <p>{{pokemonUrl}}</p>
    </div>
    <div class="row">
        <button class="btn-primary col-xs-1 col-xs-offset-5" ng-click="getPokeData()">Look Up Pokémon</button>
    </div>


    <div></div>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src='js/pokeProfile.js'></script>
    <script src='js/service.js'></script>

</body>

</html>