<div class="row">
  <div class="  col-xs-4 col-xs-offset-5 ">
    <button id="showPoemFormButton" ng-click="showForm = !showForm" class="button btn-primary">Enter New Poem</button>
  </div>
</div>

{{enterPoemForm}}
<div class="row">
  <div class="col-xs-4 col-xs-offset-4" ng-show="showForm">
    <form action="">
      <input ng-model="newPoemTitle" placeholder="Title" type="text">
      <input ng-model="newPoemAuthor" placeholder="Author" type="text">
      <textarea ng-model="newPoemBody" placeholder="Enter your poem" class="form-control" rows="3"></textarea>
    </form>
  </div>
</div>

<div class='col-xs-6 col-xs-offset-3'>
  <!--
  <h3>{{poem.title}}</h3>
<h4>{{poem.poem}}</h4>
<h5>{{poem._id}}</h5>-->


  <table class="table well table-bordered table-hover  ">
    <tr>
      <th>Title</th>
      <th>Author</th>

    </tr>
    <tr ng-repeat="poem in database">
      <td>
        <a ng-href="#/{{poem._id}}">{{poem.title}}</a>
      </td>
      <td>
        {{poem.author}}
      </td>

    </tr>
  </table>
</div>


<poem-directive></poem-directive>