<p>{{title}}</p>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3 skillCard">
		<div class="row">
			<h3 class="col-xs-3 col-xs-offset-4"><span class="label label-default">{{title}}</span></h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 skillCard">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-6 thumbnail well" ng-repeat="experience in workExperience">
				<p class="companyName"> {{experience.company}}</p>
				<p class="jobTitle">{{experience.title}}</p>
				<img class="img-responsive" ng-src="{{experience.logo}}" alt="Company Logo">
				<li class="jobInfo">{{experience.description}}</li>
				<br>
				<li class="jobInfo">{{experience.accomplishments}}</li>

			</div>
		</div>
	</div>
</div>