<!DOCTYPE html>
<html lang="en" ng-app="UglyThingsApp">
<head>
    <meta charset="UTF-8">
    <title>Ugly Things App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/app.css">
</head>
<body ng-controller="MainController">
    <div id="header" class="form-group">
        <div>
            <label for="usr1">Title:</label>
            <input type="text" class="form-control" ng-model="title" id="usr1">
        </div>
        <div>
            <label for="usr2">Img Link:</label>
            <input type="text" class="form-control" ng-model="input" id="usr2">
        </div>
        <div>
            <label for="usr3">Description:</label>
            <input type="text" class="form-control" ng-model="description" id="usr3">
        </div>
    </div>
    <div>
        <a class="btn-large btn-block btn-primary" type="button" ng-click="addNewThing();">Add Ugly Thing to the List!</a>
        <div class="row">
        <div class="listOfuglyThings col-xs-4" ng-repeat="thing in uglyThings">
            <h1>Title: {{thing.title}}</h1>
            <img height:150px ng-src="{{thing.url}}">
            <h3>Description: {{thing.description}}</h3>
            <div ng-controller="secondController">
                <form ng-submit="addNewComment()">
                    <input placeholder="Comment" class="well" ng-model="newComment">
                </form>
                <button class="btn-small  btn-primary" ng-click="addNewComment()">Add Comment</button>
                <div class=" row commentBox" ng-repeat="comment in commentArray">
                    <h4 class=" col-xs-11">{{comment}}</h4>
                    <button class=" removeButton col-xs-1 btn small" ng-click="removeComment(comment)">x</button>
                </div>
            </div>
        </div>
        </div>
   </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
