.enterToDoArea {
    height: 80px;
    margin: auto;
    border-top: 50%;
    background-color: darkgoldenrod;
    border-radius: 10px;
    align-content: center;
}

.toDoItem {
    margin: auto;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.addItem {
    border: 1px solid black;
    border-radius: 5px;
    background-color: cadetblue;
}

.removeItem {
    aline: right;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-align: center
}

.container list > div {
    border: black 2px solid;
}

/*
.checkbox {
    position: absolute;
    padding-left: 50px;
}
*/

.taskInformation {
    text-wrap: normal;
}

strong {
    text-wrap: normal;
}