<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-xs-3 col-xs-offset-4">
	<div class="contactInfo"><span class="contactSpan">Email:</span> TannerPlauche@gmail.com</div>
	<div class="contactInfo"><span class="contactSpan">Phone:</span> Email for phone</div>
	<div class="contactInfo"><span class="contactSpan">Twitter:</span> @ThePhonetician</div>
	<div class="contactInfo"><span class="contactSpan">Github:</span> https://github.com/TannerPlauche</div>
	<div class="contactInfo"><span class="contactSpan">Location:</span> Elk Ridge & Provo, Utah</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>