<p>About Me</p>



<div class="row">
	<div class="col-md-6 col-md-offset-3 col-s-10 col-s-offset-1">
		<div class="row"><img src="/Images/teachyTeach.jpg" alt="Tanner Instruction Img" class="aboutMeImg">
			<div class="aboutMe well">
				Hi, I am Tanner. I am a junior web developer and computational linguist. I love:
				<ul>
					<li>My family </li>
					<li>Helping people</li>
					<li>Language</li>
					<li>Creating cool software and web tools</li>
				</ul>
				<div>
					My background is in linguistics and phonetics. I have enjoyed the opportunities to work for a wide range of companies and agencies. I currently work in research and development for a speech technology where I create iOS and web based speech analysis tools. I am a junior front end web developer, and am working on expanding that aspect of my career.
				</div>
				<div>
					My person interests include:
				</div>
				<ul>
					<li>Learning and speaking languages</li>
					<li>Weight lifting</li>
					<li>Playing the violin and viola</li>
					<li>Volunteering / Humanitarian service</li>
					<li>Serving and teaching English with refugee organizations</li>
				</ul>
				<div class="row well aboutMeImages">
					<div class="">
						<img src="/Images/squat.jpg" alt="" class="aboutMeImg"></div>
					<div class="">
						<img src="/Images/jamSesh.jpg" alt="" class="aboutMeImg">
					</div>

				</div>
			</div>
		</div>
	</div>
</div>